includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
	level: 9
	phpVersion: 80100

	scanDirectories:
		- app

	fileExtensions:
		- php

	paths:
		- app

	ignoreErrors:

	doctrine:
		ormRepositoryClass: App\Model\Database\Repository\AbstractRepository
		objectManagerLoader: .build/phpstan-doctrine.php
