<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	backupGlobals="false"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	colors="true"
	failOnRisky="true"
	failOnWarning="true"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	cacheResult="true"
	cacheResultFile="var/tmp/.phpunit.result.cache"
	bootstrap="tests/bootstrap.php"
>
	<php>
		<ini name="memory_limit" value="2048M"/>
	</php>
	<source>
		<include>
			<directory>app</directory>
		</include>
	</source>
	<testsuites>
		<testsuite name="App.E2E">
			<directory>./tests/Cases/E2E</directory>
		</testsuite>
		<testsuite name="App.Unit">
			<directory>./tests/Cases/Unit</directory>
		</testsuite>
	</testsuites>
	<extensions>
		<bootstrap class="Contributte\Phpunit\Extension\CleanerExtension">
			<parameter name="dirs" value="tests/tmp"/>
		</bootstrap>
		<bootstrap class="Contributte\Phpunit\Extension\BypassFinalExtension"/>
	</extensions>
</phpunit>
