# ======================================
# Includes ===============================
includes:
	- doctrine.neon

# ======================================
# Config ===============================
php:
	date.timezone: Europe/Prague
	# session.save_path: %tempDir%/session

# ======================================
# Parameters ===========================
parameters:
	postgres:
		driver: pdo_pgsql
		host: localhost
		port: 5432
		user: contributte
		password: contributte
		dbname: contributte
	mariadb:
		driver: mysqli
		host: localhost
		port: 3306
		user: contributte
		password: contributte
		dbname: contributte

# ======================================
# Services =============================
services:
	# myservice: App\Model\MyService
