# ======================================
# Includes ===============================
includes:
	- doctrine.neon

# ======================================
# Config ===============================
php:
	date.timezone: Europe/Prague
	# session.save_path: %tempDir%/session

# ======================================
# Parameters ===========================
parameters:
	database:
		driver: pdo_sqlite
		host: null
		dbname: null
		port: null
		user: null
		password: null

# ======================================
# Services =============================
services:
	# myservice: App\Model\MyService
