# ======================================
# Extensions ===========================
extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.orm: Nettrine\ORM\DI\OrmExtension

	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension
	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

nettrine.dbal:
	debug:
		panel: %debugMode%
		sourcePaths: [%appDir%]

	connections:
		default:
			driver: %postgres.driver%
			host: %postgres.host%
			port: %postgres.port%
			dbname: %postgres.dbname%
			user: %postgres.user%
			password: %postgres.password%
			charset:  UTF8
			serverVersion: 15.0.0

		second:
			driver: %mariadb.driver%
			host: %mariadb.host%
			port: %mariadb.port%
			dbname: %mariadb.dbname%
			user: %mariadb.user%
			password: %mariadb.password%
			charset:  UTF8
			serverVersion: 10.10.0

nettrine.orm:
	managers:
		default:
			connection: default
			lazyNativeObjects: true
			mapping:
				App:
					type: attributes
					directories: [%appDir%/Domain/Database]
					namespace: App\Domain\Database
		second:
			connection: second
			lazyNativeObjects: true
			mapping:
				App:
					type: attributes
					directories: [%appDir%/Domain/Database]
					namespace: App\Domain\Database

nettrine.fixtures:
	paths:
		- %appDir%/../db/Fixtures

nettrine.migrations:
	directories:
		DB\Migrations: %appDir%/../db/%migration.db%
	manager: %migration.manager%
