# ======================================
# Extensions ===========================
extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

	nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
	nettrine.cache: Nettrine\Cache\DI\CacheExtension

	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension

	nettrine.orm: Nettrine\ORM\DI\OrmExtension
	nettrine.orm.cache: Nettrine\ORM\DI\OrmCacheExtension
	nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)
	nettrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension

	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension
	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

	nettrine.extensions.atlantic18: Nettrine\Extensions\Atlantic18\DI\Atlantic18BehaviorExtension

nettrine.dbal:
	connection:
		driver: pdo_pgsql
		host: %database.host%
		dbname: %database.dbname%
		user: %database.user%
		password: %database.password%
		charset:  UTF8
		serverVersion: 14.0
	debug:
		panel: %debugMode%
		sourcePaths: [%appDir%]

nettrine.fixtures:
	paths:
		- %appDir%/../db/Fixtures

nettrine.migrations:
	directory: %appDir%/../db/Migrations
	namespace: DB\Migrations

nettrine.orm:
	entityManagerDecoratorClass: App\Model\Database\EntityManagerDecorator

nettrine.orm.annotations:
	mapping:
		App\Domain\Database: %appDir%/Domain/Database

		# doctrine extensions entities
		#Gedmo\Loggable: %appDir%/../vendor/gedmo/doctrine-extensions/src/Loggable/Entity
		#Gedmo\Translatable: %appDir%/../vendor/gedmo/doctrine-extensions/src/Translatable/Entity
		#Gedmo\Tree: %appDir%/../vendor/gedmo/doctrine-extensions/src/Tree/Entity

nettrine.extensions.atlantic18:
	loggable: true
	sluggable: true
	softDeleteable: true
	treeable: true
	timestampable: true
	translatable:
		translatable: en_GB
		default: en_GB
		translationFallback: true
		persistDefaultTranslation: true
		skipOnLoad: false
