#parameters:
#	postgres:
#		driver: pdo_pgsql
#		host: 0.0.0.0
#		port: 5432
#		user: contributte
#		password: contributte
#		dbname: demopostgres
#	mariadb:
#		driver: mysqli
#		host: 0.0.0.0
#		port: 3306
#		user: contributte
#		password: contributte
#		dbname: demomariadb
